<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Them link bootstrap-->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/main.css">

    <!--title font-->
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">

    <title>Bức thư gửi tương lai</title>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dear my future</a>
    </nav>
    <div style="margin-top:50px;" class="alert alert-success" role="alert">
        Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi
        chúng tôi đã lưu email của bạn trên hệ thống.
    </div>
</div>
    <!--các file js sau đây luôn luôn nên import ở cuối của body, để giảm thời gian load nội dung-->
    <script src="/assets/jquery/jquery.js"></script>
    <script src="/assets/popper/popper.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
</body>
</html>



